@charset "UTF-8";
/* section間 */
/*------------------------------
header
------------------------------*/
header {
  position: relative;
  z-index: 2000;
}
@media (max-width: 767px) {
  header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 2000;
    width: 100%;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: min(20px, 1.3888888889vw);
}
@media (max-width: 767px) {
  .header__content {
    padding: 18px 5%;
    align-items: center;
  }
}

.header__logo {
  width: min(200px, 13.8888888889vw);
  padding-top: min(25px, 1.7361111111vw);
}
@media (max-width: 767px) {
  .header__logo {
    width: 30%;
    max-width: 220px;
    max-width: 110px;
    padding-top: 0;
  }
}

.header__nav {
  display: flex;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__menu {
  padding-top: min(48px, 3.3333333333vw);
  display: flex;
}
.header__menu li:nth-child(n+2) {
  margin-left: min(24px, 1.6666666667vw);
}
.header__menu li a {
  display: inline-block;
  font-size: min(0.875rem, 1.05vw);
  font-weight: 700;
  line-height: 0.04em;
}

.header__reserve {
  width: min(316px, 21.9444444444vw);
  text-align: center;
  background: url(../img/img_reserve-bg.png) no-repeat center center/cover;
}
.header__reserve a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(0.9375rem, 1.125vw);
  font-weight: 700;
  letter-spacing: 0.08em;
  aspect-ratio: 632/190;
  padding: 1.47em 0 2.7em 3em;
}
.header__reserve a::after {
  display: inline-block;
  content: "";
  position: relative;
  background: url(../img/icon_arrow01.png) no-repeat center center/contain;
  width: 2.1em;
  aspect-ratio: 64/64;
  margin-left: 1.3em;
}

.drawer-icon {
  z-index: 300;
  display: none;
  transition: transform 0.5s ease 0s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}
.drawer-icon.is-active .drawer-icon__bar1 {
  transform: rotate(-45deg);
  top: 8px;
  background: #000;
}
.drawer-icon.is-active .drawer-icon__bar2 {
  transform: rotate(45deg);
  top: 8px;
  background: #000;
  width: 32px;
}

.drawer-icon__bars {
  width: 32px;
  height: 20px;
  display: block;
  position: relative;
  z-index: 400;
}

.drawer-icon__bar1,
.drawer-icon__bar2 {
  position: absolute;
  width: 32px;
  height: 2px;
  background: #333;
  top: 0;
  left: 0;
}

.drawer-icon__bar1 {
  top: 0;
  transition: transform 0.3s;
}

.drawer-icon__bar2 {
  width: 21px;
  left: unset;
  right: 0;
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
  transition: transform 0.3s;
}

.drawer-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  background: #48494B;
  padding: 40px;
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain; /* scroll伝番防止 */
}
.drawer-content.is-active {
  transform: translateX(0);
}

.drawer-menu li:nth-child(n+2) {
  margin-top: 13.5593220339%;
}
.drawer-menu li a {
  display: block;
  font-size: min(0.875rem, 3.7333333333vw);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-bottom: 1.35em;
  color: #fff;
  position: relative;
  border-bottom: 1px solid #FAFAFA;
}
.drawer-menu li a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/icon_arrow01_wh.png) no-repeat center center/contain;
  width: 1.25em;
  aspect-ratio: 64/64;
}

.drawer__reserve {
  margin-top: 11.9402985075%;
  text-align: center;
}

.header__content.fixed { /* pc */
  position: fixed;
  padding: 0 min(2%, 45px);
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 2000;
  height: 80px;
  display: flex;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.3s;
}
.header__content.fixed.act {
  transform: translateY(0%);
}
.header__content.fixed .header__logo {
  padding-top: 0;
  width: min(270px, 18.75vw);
}
.header__content.fixed .header__menu {
  padding: 0;
}
.header__content.fixed .header__menu li a {
  display: block;
}
.header__content.fixed .header__nav {
  align-items: center;
}
.header__content.fixed .header__reserve {
  width: min(211px, 14.6527777778vw);
  margin-left: min(20px, 1.3888888889vw);
  background: linear-gradient(270deg, #533afc 0%, #3b25d4 100%);
}
.header__content.fixed .header__reserve a {
  aspect-ratio: unset;
  padding: 1em 0.3em;
  font-size: min(0.9375rem, 1.0416666667vw);
}
.header__content.fixed .header__reserve a::after {
  width: 1.9em;
  margin-left: 1em;
}
/*# sourceMappingURL=header.css.map */